
.rounded_image {
-webkit-background-size: 48px 48px;
-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
background-position: 50% 0%;
background-repeat: no-repeat;
background-size: 48px 48px;
border-bottom-color: rgb(176, 184, 191);
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(176, 184, 191);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(176, 184, 191);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(176, 184, 191);
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
color: rgb(90, 107, 119);
display: block;
float: left;
height: 48px;
line-height: 16px;
margin: 0px;
padding: 0px;
vertical-align: baseline;
width: 48px;
}


			#avatar{
				margin-top: -3px;
				margin-right: 3px;
				vertical-align: middle;
				border: 1px solid white;
				}

		.post>form{
			width:400px;
			margin:auto;
			margin-top:30px;
			padding:30px;
			border:1px solid #bbb;
			-moz-border-radius:11px;
		}

		.post>form label{
			display:block;
			color:#777777;
			font-size:13px;
		}
		.post>form p{
			color:#777777;
			font-size:14px;
			text-align:justify;
			margin-bottom:20px;
		}
		.post>form input.text{
			background:#FBFBFB none repeat scroll 0 0;
			border:1px solid #E5E5E5;
			font-size:24px;
			margin-bottom:16px;
			margin-right:6px;
			margin-top:2px;
			padding:3px;
			width:97%;
		}
		.post>form select{
			background:#FBFBFB none repeat scroll 0 0;
			border:1px solid #E5E5E5;
			font-size: 12px;
			margin-bottom:16px;
			margin-right:6px;
			margin-top:2px;
			padding:3px;
			width:80%;
		}
		.post>form input.button {
			-moz-border-radius-bottomleft:6px;
			-moz-border-radius-bottomright:6px;
			-moz-border-radius-topleft:6px;
			-moz-border-radius-topright:6px;
			border:1px solid #AAAAAA;
			font-size:16px;
			padding:3px;
		}
		.right{
			text-align:right;
		}
	
		.datos form {
			width:400px;
			margin:auto;
			margin-top:30px;
			padding:30px;
			border:1px solid #bbb;
			-moz-border-radius:11px;
		}
		.datos label{
			display:block;
			color:#777777;
			font-size:13px;
		}
		.datos p{
			color:#777777;
			font-size:14px;
			text-align:justify;
			margin-bottom:20px;
		}
		.datos input.text{
			background:#FBFBFB none repeat scroll 0 0;
			border:1px solid #E5E5E5;
			font-size:24px;
			margin-bottom:16px;
			margin-right:6px;
			margin-top:2px;
			padding:3px;
			width:97%;
		}
		.datos select{
			background:#FBFBFB none repeat scroll 0 0;
			border:1px solid #E5E5E5;
			font-size: 12px;
			margin-bottom:16px;
			margin-right:6px;
			margin-top:2px;
			padding:3px;
			width:80%;
		}
		
		.datos input.button {
			-moz-border-radius-bottomleft:6px;
			-moz-border-radius-bottomright:6px;
			-moz-border-radius-topleft:6px;
			-moz-border-radius-topright:6px;
			border:1px solid #AAAAAA;
			font-size:16px;
			padding:3px;
		}
		
		.right{
			text-align:right;
		}
			.form-big {
				width:400px;
				margin:auto;
				margin-top:30px;
				padding:30px;
				border:1px solid #bbb;
				-moz-border-radius:11px;
			}
			form label{
				display:block;
				color:#777777;
				font-size:13px;
			}
			form p{
				color:#777777;
				font-size:14px;
				text-align:justify;
				margin-bottom:20px;
			}
			form input.text{
				background:#FBFBFB none repeat scroll 0 0;
				border:1px solid #E5E5E5;
				font-size:24px;
				margin-bottom:16px;
				margin-right:6px;
				margin-top:2px;
				padding:3px;
				width:97%;
			}
			form select{
				background:#FBFBFB none repeat scroll 0 0;
				border:1px solid #E5E5E5;
				font-size: 12px;
				margin-bottom:16px;
				margin-right:6px;
				margin-top:2px;
				padding:3px;
				width:80%;
			}
			form input.button {
				-moz-border-radius-bottomleft:6px;
				-moz-border-radius-bottomright:6px;
				-moz-border-radius-topleft:6px;
				-moz-border-radius-topright:6px;
				border:1px solid #AAAAAA;
				font-size:16px;
				padding:3px;
			}
			.right{
				text-align:right;
			}
* { margin: 0; padding: 0; }
body { font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif; }
pre { font-size: 10px; }
a { color:#333; text-decoration: none; padding: 1px 2px; font-weight:bold; }

a:hover { color: #666; background: none; }

h1{
	color: black;
	display: block;
	font-family: ff-din-web-1, ff-din-web-2, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	height: 48px;
	left: auto;
	margin-bottom: 5px;
line-height:56px; font-size:56px; font-weight:500; letter-spacing:-2px; text-transform:uppercase; text-align:center;
}
h2 { color:#666; font-weight: normal; margin-bottom:2px; font-size:30px; line-height:32px; }
h3 { color:#666; font-weight: normal; margin-top:10px; }
h4 { color:#666; font-weight: normal;  }
img_border { background: #fff !important; border: 1px solid #999;  margin: 10px; }
img a { text-decoration: none !important; background: #fff !important; margin: 0px; }
.header { margin: 10px 0 0 0; }
/*
.header h1 a { font-weight:normal; }
.header h1 {}
.header h2 {font-size:18px; font-weight:200; letter-spacing:-1px; line-height:22px; text-align: left }
*/

.wrapper { margin-right: 50px; margin-left: 50px; margin-bottom: 25px; }

.datetime { font-size: 12px; line-height: 150%; color: #555; padding: 0 25px 45px 0; text-align: right; }
.datetime a { color: #555; font-weight:bold; }
.navleft { font-size: 12px; position: relative; float: left; }
.navright { font-size: 12px; position: relative; float: right; }
.navcenter { font-size: 12px; text-align:center;}
.footer {  font-size: 12px; line-height: 14px; text-align:center;  }        

.post { 
	background: #f2f0f0; 
	padding:10px;
	margin-top: 10px; 
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
}

.post_blanco { background: white; padding:10px; margin-top: 10px;
	 -moz-border-radius: 11px;
-webkit-border-radius: 11px;
-khtml-border-radius: 11px;
border-radius: 11px;
border:1px solid #bbb; 
}  

.post p { margin:14px 0 14px 0; font-size: 14px; }
.post ul{ list-style:circle; margin:10px 10px 10px 35px; }
.post ol{ list-style:decimal; margin:10px 10px 10px 35px; }
.post blockquote {color:#444; border-left:5px solid #ccc; margin:25px 30px 15px 10px; padding-left:20px;}        
.short_quote { margin: 0px; padding: 0px; font-size:48px; line-height: 110%; color: #666; } 
.medium_quote { margin: 0px; padding: 0px; font-size:36px; line-height: 115%; color: #666; } 
.long_quote { margin: 0px; padding: 0px; font-size:24px; line-height: 130%; color: #666; } 
.caption { margin-bottom:10px; font-size:22px; line-height:26px; }
a .notes { text-decoration: none !important; background: none; } 
.notes a { text-decoration: none !important; background: none; } 
img .notes { margin: 0px; padding: 3px 3px 0px 3px; border: 1px solid #999; } 
.notes img { margin: 0px; padding: 3px 3px 0px 3px; border: none } 
ol.notes { padding: 0px; margin: 25px 0px; list-style-type: none; border-bottom: solid 1px #ccc; }
ol.notes li.note { border-top: solid 1px #ccc; padding: 10px; }
ol.notes li.note img.avatar { vertical-align: -4px; margin-right: 10px; width: 16px; height: 16px; }
ol.notes li.note span.action { font-weight: bold; }
ol.notes li.note .answer_content { font-weight: normal; }
ol.notes li.note blockquote { border-color: #eee; padding: 4px 10px; margin: 10px 0px 0px 25px; }
ol.notes li.note blockquote a { text-decoration: none; }



.subtitle{
	color: black;
	display: block;
	font-family: ff-din-web-1, ff-din-web-2, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 25px;
	height: 48px;
	line-height: 48px;
	margin: 0px auto;
	text-shadow: gray 1px 1px 6px;
}

select { font-size: 12px; }


.resultado_final{
background-color: #6D84B4 !important;
border-color: #3B5998 !important;
color: white;
padding-right: 10px;
border: solid #F2F2F2;
font-size: 16px;
/*font-weight: bold;*/
padding: 7px 9px 7px 15px;
width: 166px;
overflow: hidden;
border-width: 1px 0;
margin-bottom: 50px;
}



.botonAzul {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:1.41px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:232px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.botonAzul:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.botonAzul:active {
	position:relative;
	top:1px;
}

